    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Tentang Sejuta Digital Preneur</h2>
              <br/>
                <p>SDP adalah singkatan Sejuta Digital Preneur, sebuah program inovatif untuk memfasilitasi, mensupport dan mementoring pengusaha digital <a href="http://treni.co.id">TreniNet Community</a>.</p>
                <p>Ada banyak benefit yang ditawarkan Program Mentoring Sejuta Digital Preneur ini.</p> 
                <p>Benefit Spesial: Web Promosi Otomatis, Landing Page Per Produk, Toko Online, Tools Marketing, Program Mentoring, Video-video Tutorial, Grup Diskusi & Belajar, dan masih banyak lagi.</p>
                <br/>
              </div>
        </div>
    </section>
