<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
            <a href="https://wa.me/6282320067466?text=Assalamualaikum...%0A%0APerkenalkan%20saya%20:%0A%0ANama%20:%0ANo%20Hp%20:%0AEmail%20:%0A%0ASudah%20siap%20belajar%20dan%20berbisnis%20bersama%20Sejuta%20Digital%20Preneur.%0A%0AMohon%20panduannya%20ya!%0A%0ATerima%20kasih..." class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
            </a>
        </div>
    </div>
</footer>
